<!DOCTYPE HTML>
<html>
  <head>
    <title>LeanEngine</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
	<script src="/js/masonry.pkgd.min.js"></script>
	<script src="/js/jquery.mobile-1.4.5.min.js"></script>

	<script type="text/javascript">
		var id = "gallerycontent" + Guid.NewGuid();
        $(document).on("pagechange", function (event) {
            $("#@id").masonry({
                itemSelector: ".post",
                isFitWidth: true
            });
        });		
		$("#@id").fadeTo(0, 0);
        $(document).on("pagechange", function (event) {
            $("#@id").masonry({
                itemSelector: ".post",
                isFitWidth: true
            });
            $("#@id").fadeTo(0, 1);
        });

    </script>
  </head>
  <body>
<!--    <h1>LeanEngine</h1>
    <p>这是 LeanEngine 的示例应用</p>
    <p>当前时间：<%= currentTime %></p>
    <p><a href="/todos">一个简单的「TODO 列表」示例</a></p>
	-->
	<div id="@id" style="margin: 50px auto;" class="js-masonry" data-masonry-options='{ "isFitWidth": true, "itemSelector": ".post" }'>

		<div class="post" style="height:@(260/1.0/image1.宽度*image1.高度)px">
				 <a data-ajax="true" href="/images/t1.jpg"><img src="/images/t1.jpg" width="260" /></a>
		</div>

		<div class="post" style="height:@(260/1.0/image2.宽度*image2.高度)px">
				 <a data-ajax="true" href="/images/t2.jpg"><img src="/images/t2.jpg" width="260" /></a>
		</div>

		<div class="post" style="height:@(260/1.0/image2.宽度*image2.高度)px">
				 <a data-ajax="true" href="/images/t3.jpg"><img src="/images/t3.jpg" width="260" /></a>
		</div>

		<div class="post" style="height:@(260/1.0/image2.宽度*image2.高度)px">
				 <a data-ajax="true" href="/images/t4.jpg"><img src="/images/t4.jpg" width="260" /></a>
		</div>

		<div class="post" style="height:@(260/1.0/image2.宽度*image2.高度)px">
				 <a data-ajax="true" href="/images/t5.jpg"><img src="/images/t5.jpg" width="260" /></a>
		</div>

		<div class="post" style="height:@(260/1.0/image2.宽度*image2.高度)px">
				 <a data-ajax="true" href="/images/t6.jpg"><img src="/images/t6.jpg" width="260" /></a>
		</div>

		<div class="post" style="height:@(260/1.0/image2.宽度*image2.高度)px">
				 <a data-ajax="true" href="/images/t7.jpg"><img src="/images/t7.jpg" width="260" /></a>
		</div>

		<div class="post" style="height:@(260/1.0/image2.宽度*image2.高度)px">
				 <a data-ajax="true" href="/images/t8.jpg"><img src="/images/t8.jpg" width="260" /></a>
		</div>
	</div>
  </body>
</html>
