<!DOCTYPE html>
<html>
<head>
    <title>会员列表</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/js/masonry.pkgd.min.js"></script>
    <script src="/js/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script type="text/javascript">
        function registerUser(vote) {
            var arr = $('#registerForm').serializeArray();
            $.ajax({
                url: '/register?vote=' + vote,
                data: $.param(arr),
                type: 'post',
                dataType: 'text',
                success: function (msg) {
                    $('#registerForm').show();
                    $('#lblErrMsg').text(msg);
                }

            })
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/usersmanagement">用户管理</a></li>
                    <li><a href="/ticketlist">优惠券管理</a></li>
                    <li><a href="/tickethistory">券码统计</a></li>
                </ul>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <form action="/usersmanagement" method="POST" class="form-horizontal">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>手机号</th>
                    <th>姓名</th>
                    <th>Email</th>
                    <th>行业</th>
                    <th>状态</th>
                    <th></th>
                </tr>
            </thead>
			<%
			if(personItems!=null && personItems!='')
			{
				for(var i=0; i<personItems.length; i++)
				{
					var temp=i % 2
					if(temp= =1)
					{
			%>
						<tr class="warning">
			<%
					}else
					{
			%>

						<tr class="success">
			<%
					}
			%>
					<td><%=i %></td>
							<td>13922222222</td>
							<td>13988888888</td>
							<td>服务商</td>
							<td>京东上海有限公司</td>
							<td>53624356</td>
							<td>申请中</td>
							<td><button type="button" name="btnVote" value="pass">审核</button><button type="button" name="btnVote" value="detail">详细</button></td>
					</tr>
			<%		
				}
			}
			%> 
        </table>

        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>手机号</th>
                    <th>公司名称</th>
                    <th>Email</th>
                    <th>行业</th>
                    <th>状态</th>
                    <th></th>
                </tr>
            </thead>
			<%
			if(companyItems!=null && companyItems!='')
			{
				for(var i=0; i<companyItems.length; i++)
				{
					var temp=i % 2
					if(temp= =1)
					{
			%>
						<tr class="warning">
			<%
					}else
					{
			%>

						<tr class="success">
			<%
					}
			%>
					<td><%=i %></td>
							<td>13922222222</td>
							<td>13988888888</td>
							<td>服务商</td>
							<td>京东上海有限公司</td>
							<td>53624356</td>
							<td>申请中</td>
							<td><button type="button" name="btnVote" value="pass">审核</button><button type="button" name="btnVote" value="detail">详细</button></td>
					</tr>
			<%		
				}
			}
			%> 
        </table>

    </form>
</body>
</html>
